<div class="footer-area section-bg" data-background="assets/img/gallery/section_bg02.png">
    <div class="container">
        <div class="footer-top footer-padding">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
                    <div class="single-footer-caption mb-50">
                        <!-- logo -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Navigation</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">Testimonial</a></li>
                                <li><a href="#">Categories</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><a href="#">Registration</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Instagram -->
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Instagram Feed</h4>
                        </div>
                        <div class="instagram-gellay">
                            <ul class="insta-feed">
                                <li><a href="#"><img src="assets/img/gallery/instagram1.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/gallery/instagram2.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/gallery/instagram3.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/gallery/instagram4.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/gallery/instagram5.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/gallery/instagram6.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>