
<div class="login-page">
    <div class="form">
        <h2 style="color: #2f3d4a;">User Sign Up Page</h2>
        <br>
      <form [formGroup]="signForm" class="login-form" (ngSubmit)="signup()" >
        <input type="text" formControlName="name" placeholder="fullname"/>
        
        <br><br>
        <input type="number" formControlName="age" placeholder="age" min="0" max="99"/>
        
        
        <br><br>
        <input type="string" formControlName="phone" placeholder="phone" min="0" max="99"/>
        
        
        <br><br>
        <input type="email" formControlName="email" placeholder="email"/>
        
       
        <br><br>
        <input type="password" formControlName="password" placeholder="password"/>
        
        <br><br>
        <input type="submit" value="Sign Up"  >
        <br><br>
        <p class="message">Alreay have an account? <a routerLink="/login">Log In</a></p>
      </form>
    </div>
</div>