<header>
  <div class="header-area header-transparent">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-2 col-lg-1 col-md-1">
            <div class="logo">
              <a routerLink="/home"
                ><img src="assets/img/flavor_dash.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-l-10 col-lg-10 col-md-10">
            <div
              class="menu-main d-flex align-items-center justify-content-end"
            >
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a routerLink="landing" routerLinkActive="activated" >Home</a></li>
                    <li><a routerLink="about" routerLinkActive="activated">About</a></li>
                    <li><a routerLink="recipes" routerLinkActive="activated">Recipes</a></li>
                    <li *ngIf="hidelogin==true" ><a routerLink="/login" routerLinkActive="activated">Login</a></li>
                    <li *ngIf="hideprofile==true" >
                      <a href="blog.html">Profile</a>
                      <ul class="submenu">
                        <li><a routerLink="">Access Profile</a></li>
                        <br><br>
                        <li><a (click)="logout()">Log Out</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="header-right-btn f-right d-none d-lg-block ml-20">
                <a routerLink="shoppinglist" class="border-btn header-btn"
                  ><span class="material-symbols-outlined">
                    shopping_cart
                    </span></a
                >
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
