<div class="container">
    <br><br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <div>
                    <h5 class="card-title">Recipes List</h5>
                </div>
            </div>
            <div class="table-responsive m-t-20 no-wrap">
                <table class="table vm no-th-brd pro-of-month">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Meal Type</th>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let recipe of recipes" >
                            <td><img [src]="recipe.image" width="50" height="50" style="border-radius: 5px;" /></td>
                            <td>{{recipe.name}}</td>
                            <td>{{recipe.mealType}}</td>
                            <td><button class="btn" (click)="deleteRecipe(recipe._id)" >Delete</button>&nbsp;&nbsp; <button class="btn">Update</button></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>