<div class="container">
  <br /><br />
  <div class="card">
    <div class="card-body">
      <div class="d-flex">
        
        <div>
          <h5 class="card-title">Recipes List</h5>
        </div>
        <button (click)="openAddDialog()" style="margin-left: 80%;border-radius: 10px;" class="btn btn-primary"  >Add Recipe</button>
      </div>
      <div class="table-responsive m-t-20 no-wrap">
        <table class="table vm no-th-brd pro-of-month">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Meal Type</th>
              <td><b style="color: black; font-weight: 500;">Actions</b></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recipe of recipes">
              <td>
                <img
                  [src]="recipe.image"
                  width="50"
                  height="50"
                  style="border-radius: 5px"
                />
              </td>
              <td>{{ recipe.name }}</td>
              <td>{{ recipe.mealType }}</td>
              <td>
                <button class="btn btn-danger" style="border-radius: 10px;" (click)="deleteRecipe(recipe._id)">
                  Delete</button
                >&nbsp;&nbsp;
                <button (click)="openUpdateDialog(recipe)" style="border-radius: 10px;" class="btn btn-primary">
                  Update
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
